

<div id="table-render" >
    <li style="margin-left: 40px" *ngFor="let match of dotaMatches; index as i" >
      {{match["name"]}}
    </li>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button (click)="nextPage()" style="width: 50px">Next</button>

<div id="table-render" >
  <li style="margin-left: 40px" *ngFor="let team of dotaTeams; index as i" >
    {{team["name"]}}
  </li>
</div>

<router-outlet></router-outlet>
